/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache















/code_Billeterie/storage/*.key
/code_Billeterie/.env
/code_Billeterie/Homestead.yaml
/code_Billeterie/Homestead.json
/code_Billeterie/.vagrant
/code_Billeterie/.phpunit.result.cache
/code_Billeterie/vendor/
/code_Billeterie/storage/logs/laravel.log
/code_Billeterie/storage/logs/
/code_Billeterie/storage/app/
/code_Billeterie/node_modules/
/code_Billeterie/.idea/
code_Billeterie/code_Billeterie/.idea/
/code_Billeterie/storage/framework/cache/data/
/code_Billeterie/storage/framework/views/
/code_code_Billeterie/.idea/
/code_Billeterie/.idea/

code_Billeterie/storage/framework/cache/*
code_Billeterie/storage/framework/views/*
code_Billeterie/storage/framework/cache/

code_Billeterie/storage/framework/views/
