/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php

# Laravel 5 & Lumen specific
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/hot

.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache















/code_Billeterie/storage/*.key
/code_Billeterie/.env
/code_Billeterie/Homestead.yaml
/code_Billeterie/Homestead.json
/code_Billeterie/.vagrant
/code_Billeterie/.phpunit.result.cache
/code_Billeterie/vendor/

/code_Billeterie/node_modules/
/code_Billeterie/.idea/
code_Billeterie/code_Billeterie/.idea/

/code_code_Billeterie/.idea/
/code_Billeterie/.idea/

